#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .tfplan files
*.tfplan

# .pem files
*.pem

kubeconfig_IssueTrackingdevelopmentCluster
.DS_Store
# Elastic Beanstalk Files
Elastic_Beanstalk_CLI_Root/.elasticbeanstalk/*
!Elastic_Beanstalk_CLI_Root/.elasticbeanstalk/*.cfg.yml
!Elastic_Beanstalk_CLI_Root/.elasticbeanstalk/*.global.yml
Dockerrun.aws.json
